<h1>Editing imagem</h1>

<% form_for([@evento, @imagem]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :evento %><br />
    <%= f.label @evento.titulo %>
  </p>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @imagem %> |
<%= link_to 'Back', imagems_path %>
