<h1>Listing imagems</h1>

<table>
  <tr>
    <th>Evento</th>
    <th>Nome</th>
    <th>Descricao</th>
  </tr>

<% for imagem in @imagems %>
  <tr>
		<td><%= link_to image_tag(imagem.avatar.url(:thumb)), [:admin, @evento, imagem] %></td>
    <td><%=h imagem.nome %></td>
    <td><%= link_to 'Edit', edit_admin_evento_imagem_path(@evento, imagem) %></td>
    <td><%= link_to 'Destroy', [:admin, @evento, imagem], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New imagem', new_admin_evento_imagem_path %>
